@import url('https://fonts.googleapis.com/css?family=Roboto');
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: url(../../Images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span {
  color: Black;
  font-family: 'Roboto', sans-serif;
}

p {
    color: white;
}

.App {
  font-family: sans-serif;
  /* text-align: center; */
  padding: 0 36px;
  max-width: 665px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  text-align: left;
}

.shopping-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}
.item {
  background-color: black;
  width: 45%;
  text-align: left;
  margin: 4px 0;
  padding-left: 8px;
  cursor: pointer;
}

.item.done {
  background-color: white;
  text-decoration: line-through;
  
}

.item.done p {
    color: lightgray;
}
form {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
form > input {
  background-color: white;
  border: 0;
  padding: 6px 0;
  font-size: 1rem;
  width: 240px;
  outline: 0;
  color: Black;
  border-bottom: 1px solid black;
  margin-right: 8px;
}

button {
  background-color: black;
  border: 1px solid black;
  color: white;
  font-size: 16px;
  padding: 6px 14px;
}

input::placeholder {
  color: grey;
  opacity: 1;
}

.clear-btn {
  margin-top: 16px;
}